{% extends 'index1.html' %}

{% block content %}

<br>
<div class="card-body">
	<h1>PRODUCTS</h1>
	<a class="btn btn-info  btn-sm mx-2" href="#">ADD PRODUCT</a>
	
</div>
<div class="row">
	
	<div class="col-md">







			<div class="row">
				<div class="col-xl-4 col-md-6">
					<div class="card bg-primary text-center text-white mb-4">
						<div class="card-header">
							<h5 class="card-title">Total Products</h5>
						</div>
						<div class="card-body">
							<h5 class="card-title">{{total_product}}</h5>
						</div>
			
					</div>
				</div>
				<div class="col-xl-4 col-md-6">
					<div class="card bg-info text-center text-white mb-4">
						<div class="card-header">
							<h5 class="card-title">Total Category</h5>
						</div>
						<div class="card-body">
							<h5 class="card-title">{{total_product}}</h5>
						</div>
			
					</div>
				</div>
				<div class="col-xl-4 col-md-6">
					<div class="card bg-success text-center text-white mb-4">
						<div class="card-header">
							<h5 class="card-title">In Stock</h5>
						</div>
						<div class="card-body">
							<h5 class="card-title">{{instock}}</h5>
						</div>
			
					</div>
				</div>
			
			
			</div>


        <br>
		





<div class="row">
    <div class="col-xl-12">
        <div class="card">
     
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead class="bg-secondary text-white">
                            <tr>
                                <th class="serial">#</th>
                                <th>Image</th>
                                <th>Product</th>
                                <th>Category</th>
                                <th>Price</th>
                                <th>Date</th>
                                <th>Update</th>
                                <th>Delete</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if products %}
                            {% for product in products %}
                            <tr>
                                <td class="serial">{{ forloop.counter }}</td>
                                <td>sdfdsfd</td>
                                <td>{{ product.name }}</td>
                                <td>{{product.category}}</td>
                                <td>{{product.price}}</td>
								<td>{{ product.date_created }}</td>

                                <td><a class="btn btn-sm btn-info" href="">Update</a></td>

				              	<td><a class="btn btn-sm btn-danger" href="">Delete</a></td>
                                
                                <td>
                                    {% if product.status == 'In Stock' %}
                                        <a class="btn btn-success" href="">{{ product.status }}</a>
                                    {% else %}
                                        <a class="btn btn-warning" href="">{{ product.status }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr><td>No Order Data</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->

    
</div>

</div>

</div>

{% endblock content %}