


           
                
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-center text-white mb-4">
									<div class="card-header">
										<h5 class="card-title">Total Orders</h5>
									</div>
                                    <div class="card-body"><h5 class="card-title">{{total_orders}}</h5></div>
                                    
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-center text-white mb-4">
                                    <div class="card-header">
										<h5 class="card-title">Total Orders</h5>
									</div>
                                    <div class="card-body"><h5 class="card-title">{{total_orders}}</h5></div>
                                    
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-center text-white mb-4">
                                    <div class="card-header">
										<h5 class="card-title">Delivered</h5>
									</div>
                                    <div class="card-body"><h5 class="card-title">{{delivered}}</h5></div>
                                    
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-center text-white mb-4">
                                    <div class="card-header">
										<h5 class="card-title">Pending</h5>
									</div>
                                    <div class="card-body"><h5 class="card-title">{{pending}}</h5></div>
                                    
                                </div>
                            </div>
                        </div>
						
				




